doctype html
html
    head
        title Karnevalskappes.de
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="css/catalog.css")
        link(rel="stylesheet", href="css/font-awesome.min.css")
        script(src="js/libs.min.js")
    body
    
        div.header
            div.wrapper
                a.header__logo(href="javascript:void(0);") Karnevalskappes
                form.header__search-form
                    input.header__search-input(placeholder="Bitte Suchbegriff eingeben...")
                    button.header__search-button 
                        i.fa.fa-search(aria-hidden="true")
                img.header__cert-ts(src="images/cert-ts.png" alt="")
                img.header__cert-sua(src="images/cert-sua.png" alt="")
                div.clear
                
        div.fixed
            div.wrapper
                div.fixed__menu
                    i.fa.fa-bars(aria-hidden="true")
                div.fixed__breadcrumbs
                    a.fixed__breadcrumbs-link(href="javascript:void(0);") Startseite
                    div.fixed__breadcrumbs-quotes »
                    a.fixed__breadcrumbs-link(href="javascript:void(0);") Bastelartikel
                    div.fixed__breadcrumbs-quotes »
                    a.fixed__breadcrumbs-link.fixed__bread-crumbs-link--active(href="javascript:void(0);") Diverse Bastelartikel
                    div.clear                
                a.fixed__cart(href="javascript:void(0);")
                    img.fixed__cart-image(src="images/cart.png" alt="")
                    div.fixed__cart-text 
                        span.fixed__cart-text-warenkorb Warenkorb 
                        span 0 Artikel | Summe: 0,00 €
                    div.clear   
                div.fixed__anmelden
                    img.fixed__anmelden-image(src="images/anmelden.png" alt="")
                    a.fixed__anmelden-anmelden(href="javascript:void(0);") Anmelden
                    span.fixed__anmelden-separator |
                    a.fixed__anmelden-anmelden(href="javascript:void(0);") Mein Konto
                    div.clear
                div.clear
               
        div.advantages
            div.wrapper
                div.advantages__container
                    div.advantages__advantage
                        img.advantages__advantage-image(src="images/advantage1.png" alt="Versandkostenfrei AB 30 € (nach DE)")
                        div.advantages__advantage-text 
                            | Versandkostenfrei 
                            br 
                            | AB 30 € (nach DE)
                        div.clear
                    div.advantages__advantage
                        img.advantages__advantage-image(src="images/advantage2.png" alt="Kauf auf Rechnung")
                        div.advantages__advantage-text 
                            | Kauf 
                            br 
                            | auf Rechnung
                        div.clear
                    div.advantages__advantage
                        img.advantages__advantage-image(src="images/advantage3.png" alt="Tausende zufriedene Kunden")
                        div.advantages__advantage-text 
                            | Tausende
                            br 
                            | zufriedene Kunden
                        div.clear
                    div.advantages__advantage
                        img.advantages__advantage-image(src="images/advantage4.png" alt="30 Tage Rückgaberecht")
                        div.advantages__advantage-text 
                            | 30 Tage 
                            br 
                            | Rückgaberecht
                        div.clear
                    div.clear
    
        div.menu
            div.menu__container
                a.menu__link(href="javascript:void(0);")
                    nobr
                        i.fa.fa-angle-right(aria-hidden="true")
                        span.menu__link-span Angebote
                a.menu__link.menu__link--active(href="javascript:void(0);")
                    nobr
                        i.fa.fa-angle-down(aria-hidden="true")
                        span.menu__link-span Bastelartikel
                a.menu__link(href="javascript:void(0);")
                    nobr
                        i.fa.fa-angle-right(aria-hidden="true")
                        span.menu__link-span Deko für Motto-Partys
                a.menu__link(href="javascript:void(0);")
                    nobr
                        i.fa.fa-angle-right(aria-hidden="true")
                        span.menu__link-span Festartikel Partyartikel
                a.menu__link(href="javascript:void(0);")
                    nobr
                        i.fa.fa-angle-right(aria-hidden="true")
                        span.menu__link-span Folien- und Latexballons
                a.menu__link(href="javascript:void(0);")
                    nobr
                        i.fa.fa-angle-right(aria-hidden="true")
                        span.menu__link-span Geburtstags-Party
                a.menu__link(href="javascript:void(0);")
                    nobr
                        i.fa.fa-angle-right(aria-hidden="true")
                        span.menu__link-span Halloween Deko
                a.menu__link(href="javascript:void(0);")
                    nobr
                        i.fa.fa-angle-right(aria-hidden="true")
                        span.menu__link-span Hochzeits-Deko
                a.menu__link(href="javascript:void(0);")
                    nobr
                        i.fa.fa-angle-right(aria-hidden="true")
                        span.menu__link-span Hüte/Kopfbedeckung
                a.menu__link(href="javascript:void(0);")
                    nobr
                        i.fa.fa-angle-right(aria-hidden="true")
                        span.menu__link-span Karnevalskostüme
                a.menu__link(href="javascript:void(0);")
                    nobr
                        i.fa.fa-angle-right(aria-hidden="true")
                        span.menu__link-span Karnevalskostüme
                a.menu__link(href="javascript:void(0);")
                    nobr
                        i.fa.fa-angle-right(aria-hidden="true")
                        span.menu__link-span Kinder Perücken/BärteSchminke
                a.menu__link(href="javascript:void(0);")
                    nobr
                        i.fa.fa-angle-right(aria-hidden="true")
                        span.menu__link-span Zubehör
                a.menu__link(href="javascript:void(0);")
                    nobr
                        i.fa.fa-angle-right(aria-hidden="true")
                        span.menu__link-span Köln Artikel                        
    

        div.page-header  Diverse Bastelartikel

        div.zeige-pages
            div.wrapper
                div.zeige-pages__zeige  Zeige 1 bis 20 (von insgesamt 30 Artikeln)
                div.zeige-pages__pages  
                    a.zeige-pages__page.zeige-pages__page--active(href="javascript:void(0);")   1
                    a.zeige-pages__page(href="javascript:void(0);")   2
                    a.zeige-pages__page(href="javascript:void(0);")   3
                    a.zeige-pages__page(href="javascript:void(0);")   4
                    a.zeige-pages__page(href="javascript:void(0);")   5
                    div.clear
                div.clear

        div.wrapper
            div.catalog
                a.catalog__product(href="javascript:void(0)") 
                    div.catalog__product-image(style="background-image: url('images/product-1.jpg')")
                    div.catalog__product-price 12,99 €
                    div.catalog__product-link-bestand
                        div.catalog__product-link Bastelfilz-Set, 674-tlg.
                        div.catalog__product-bestand
                            img.catalog__product-bestand-circle(src="images/bestand-yes.png" alt="")
                            div.catalog__product-bestand-text sofort lieferbar
                            div.clear
                    div.catalog__product-inkl inkl. 19 % MwSt. zzgl. Versand
                a.catalog__product(href="javascript:void(0)") 
                    div.catalog__product-image(style="background-image: url('images/product-2.jpg')")
                    div.catalog__product-price 3,50 €
                    div.catalog__product-link Bike Motorrad Miniatur silber ca.6cm
                    div.catalog__product-bestand
                            img.catalog__product-bestand-circle(src="images/bestand-yes.png" alt="")
                            div.catalog__product-bestand-text sofort lieferbar
                            div.clear
                    div.catalog__product-inkl inkl. 19 % MwSt. zzgl. Versand
                a.catalog__product(href="javascript:void(0)") 
                    div.catalog__product-image(style="background-image: url('images/product-3.jpg')")
                    div.catalog__product-price 1,99 €
                    div.catalog__product-link Bindedraht, Grün 0,3 mm x 50 m
                    div.catalog__product-bestand
                            img.catalog__product-bestand-circle(src="images/bestand-yes.png" alt="")
                            div.catalog__product-bestand-text sofort lieferbar
                            div.clear
                    div.catalog__product-inkl inkl. 19 % MwSt. zzgl. Versand
                a.catalog__product(href="javascript:void(0)") 
                    div.catalog__product-image(style="background-image: url('images/product-4.jpg')")
                    div.catalog__product-price 2,99 €
                    div.catalog__product-link Deko-Girlande 1m Herbstblätter
                    div.catalog__product-bestand
                            img.catalog__product-bestand-circle(src="images/bestand-no.png" alt="")
                            div.catalog__product-bestand-text leider z.Zt. vergriffen
                            div.clear
                    div.catalog__product-inkl inkl. 19 % MwSt. zzgl. Versand
                a.catalog__product(href="javascript:void(0)") 
                    div.catalog__product-image(style="background-image: url('images/product-5.jpg')")
                    div.catalog__product-price 3,50 €
                    div.catalog__product-link Deko-Zubehörset Ganzjahr grüne Blüten
                    div.catalog__product-bestand
                            img.catalog__product-bestand-circle(src="images/bestand-yes.png" alt="")
                            div.catalog__product-bestand-text sofort lieferbar
                            div.clear
                    div.catalog__product-inkl inkl. 19 % MwSt. zzgl. Versand
                a.catalog__product(href="javascript:void(0)") 
                    div.catalog__product-image(style="background-image: url('images/product-6.jpg')")
                    div.catalog__product-price 3,50 €
                    div.catalog__product-link Deko-Zubehörset Ganzjahr Herzen
                    div.catalog__product-bestand
                            img.catalog__product-bestand-circle(src="images/bestand-yes.png" alt="")
                            div.catalog__product-bestand-text sofort lieferbar
                            div.clear
                    div.catalog__product-inkl inkl. 19 % MwSt. zzgl. Versand
                a.catalog__product(href="javascript:void(0)") 
                    div.catalog__product-image(style="background-image: url('images/product-7.jpg')")
                    div.catalog__product-price 3,50 €
                    div.catalog__product-link Deko-Zubehörset Ganzjahr moderne Blüten
                    div.catalog__product-bestand
                            img.catalog__product-bestand-circle(src="images/bestand-yes.png" alt="")
                            div.catalog__product-bestand-text sofort lieferbar
                            div.clear
                    div.catalog__product-inkl inkl. 19 % MwSt. zzgl. Versand
                a.catalog__product(href="javascript:void(0)") 
                    div.catalog__product-image(style="background-image: url('images/product-8.jpg')")
                    div.catalog__product-price 2,50 €
                    div.catalog__product-link Deko-Zubehörset Ganzjahr weiße Rosen
                    div.catalog__product-bestand
                            img.catalog__product-bestand-circle(src="images/bestand-yes.png" alt="")
                            div.catalog__product-bestand-text sofort lieferbar
                            div.clear
                    div.catalog__product-inkl inkl. 19 % MwSt. zzgl. Versand
                a.catalog__product(href="javascript:void(0)") 
                    div.catalog__product-image(style="background-image: url('images/product-9.jpg')")
                    div.catalog__product-price 2,50 €
                    div.catalog__product-link Design-Sticker Ganzjahr Set 1
                    div.catalog__product-bestand
                            img.catalog__product-bestand-circle(src="images/bestand-yes.png" alt="")
                            div.catalog__product-bestand-text sofort lieferbar
                            div.clear                    
                    div.catalog__product-inkl inkl. 19 % MwSt. zzgl. Versand
                a.catalog__product(href="javascript:void(0)") 
                    div.catalog__product-image(style="background-image: url('images/product-10.jpg')")
                    div.catalog__product-price 2,50 €
                    div.catalog__product-link Design-Sticker Ganzjahr Set 6
                    div.catalog__product-bestand
                            img.catalog__product-bestand-circle(src="images/bestand-yes.png" alt="")
                            div.catalog__product-bestand-text sofort lieferbar
                            div.clear                    
                    div.catalog__product-inkl inkl. 19 % MwSt. zzgl. Versand
                a.catalog__product(href="javascript:void(0)") 
                    div.catalog__product-image(style="background-image: url('images/product-11.jpg')")
                    div.catalog__product-price 2,99 €
                    div.catalog__product-link Epoxy-Sticker Ganzjahr Set 2
                    div.catalog__product-bestand
                            img.catalog__product-bestand-circle(src="images/bestand-no.png" alt="")
                            div.catalog__product-bestand-text leider z.Zt. vergriffen
                            div.clear                   
                    div.catalog__product-inkl inkl. 19 % MwSt. zzgl. Versand
                a.catalog__product(href="javascript:void(0)") 
                    div.catalog__product-image(style="background-image: url('images/product-12.jpg')")
                    div.catalog__product-price 2,99 €
                    div.catalog__product-link Filz-Streuteile Hahn 10Stck. div. Farben
                    div.catalog__product-bestand
                            img.catalog__product-bestand-circle(src="images/bestand-yes.png" alt="")
                            div.catalog__product-bestand-text sofort lieferbar
                            div.clear                  
                    div.catalog__product-inkl inkl. 19 % MwSt. zzgl. Versand
                a.catalog__product(href="javascript:void(0)") 
                    div.catalog__product-image(style="background-image: url('images/product-13.jpg')")
                    div.catalog__product-price 13,99 €
                    div.catalog__product-link Funny color Textil Starter-Set, 5er Set
                    div.catalog__product-bestand
                            img.catalog__product-bestand-circle(src="images/bestand-no.png" alt="")
                            div.catalog__product-bestand-text leider z.Zt. vergriffen
                            div.clear                   
                    div.catalog__product-inkl inkl. 19 % MwSt. zzgl. Versand
                a.catalog__product(href="javascript:void(0)") 
                    div.catalog__product-image(style="background-image: url('images/product-14.jpg')")
                    div.catalog__product-price 1,99 €
                    div.catalog__product-link Holzscheiben 10 mm 10 Stück
                    div.catalog__product-bestand
                            img.catalog__product-bestand-circle(src="images/bestand-yes.png" alt="")
                            div.catalog__product-bestand-text sofort lieferbar
                            div.clear   
                    div.catalog__product-inkl inkl. 19 % MwSt. zzgl. Versand
                a.catalog__product(href="javascript:void(0)") 
                    div.catalog__product-image(style="background-image: url('images/product-15.jpg')")
                    div.catalog__product-price 3,50 €
                    div.catalog__product-link Klebepads für 3D-Effekte
                    div.catalog__product-bestand
                            img.catalog__product-bestand-circle(src="images/bestand-yes.png" alt="")
                            div.catalog__product-bestand-text sofort lieferbar
                            div.clear   
                    div.catalog__product-inkl inkl. 19 % MwSt. zzgl. Versand
                a.catalog__product(href="javascript:void(0)") 
                    div.catalog__product-image(style="background-image: url('images/product-15.jpg')")
                    div.catalog__product-price 3,50 €
                    div.catalog__product-link Klebepads für 3D-Effekte
                    div.catalog__product-bestand
                            img.catalog__product-bestand-circle(src="images/bestand-yes.png" alt="")
                            div.catalog__product-bestand-text sofort lieferbar
                            div.clear   
                    div.catalog__product-inkl inkl. 19 % MwSt. zzgl. Versand
                a.catalog__product(href="javascript:void(0)") 
                    div.catalog__product-image(style="background-image: url('images/product-17.jpg')")
                    div.catalog__product-price 1,85 €
                    div.catalog__product-link Klebestickers 0,9cm 20 Stück
                    div.catalog__product-bestand
                            img.catalog__product-bestand-circle(src="images/bestand-yes.png" alt="")
                            div.catalog__product-bestand-text sofort lieferbar
                            div.clear   
                    div.catalog__product-inkl inkl. 19 % MwSt. zzgl. Versand
                a.catalog__product(href="javascript:void(0)") 
                    div.catalog__product-image(style="background-image: url('images/product-18.jpg')")
                    div.catalog__product-price 3,50 €
                    div.catalog__product-link Maske ca.21,5 cm
                    div.catalog__product-bestand
                            img.catalog__product-bestand-circle(src="images/bestand-yes.png" alt="")
                            div.catalog__product-bestand-text sofort lieferbar
                            div.clear   
                    div.catalog__product-inkl inkl. 19 % MwSt. zzgl. Versand
                a.catalog__product(href="javascript:void(0)") 
                    div.catalog__product-image(style="background-image: url('images/product-19.jpg')")
                    div.catalog__product-price 3,99 €
                    div.catalog__product-link Paillettenmix Ganzjahr, 40 g
                    div.catalog__product-bestand
                            img.catalog__product-bestand-circle(src="images/bestand-no.png" alt="")
                            div.catalog__product-bestand-text leider z.Zt. vergriffen
                            div.clear                   
                    div.catalog__product-inkl inkl. 19 % MwSt. zzgl. Versand
                a.catalog__product(href="javascript:void(0)") 
                    div.catalog__product-image(style="background-image: url('images/product-20.jpg')")
                    div.catalog__product-price 11,99 €
                    div.catalog__product-link Porzellanmaler, 5er-Set
                    div.catalog__product-bestand
                            img.catalog__product-bestand-circle(src="images/bestand-no.png" alt="")
                            div.catalog__product-bestand-text leider z.Zt. vergriffen
                            div.clear                   
                    div.catalog__product-inkl inkl. 19 % MwSt. zzgl. Versand
                div.clear
                
        div.zeige-pages
            div.wrapper
                div.zeige-pages__zeige  Zeige 1 bis 20 (von insgesamt 30 Artikeln)
                div.zeige-pages__pages  
                    a.zeige-pages__page.zeige-pages__page--active(href="javascript:void(0);")   1
                    a.zeige-pages__page(href="javascript:void(0);")   2
                    a.zeige-pages__page(href="javascript:void(0);")   3
                    a.zeige-pages__page(href="javascript:void(0);")   4
                    a.zeige-pages__page(href="javascript:void(0);")   5
                    div.clear
                div.clear
                
        div.before-footer
            div.wrapper
                div.before-footer__container
                    div.before-footer__items
                        div.before-footer__item
                            div.before-footer__item-text Besuche uns auf
                            a.before-footer__image(href="javascript:void(0);")
                                img(src="images/facebook.png" alt="facebook")
                        div.before-footer__item
                            div.before-footer__item-text Bequem bezahlen
                            img(src="images/paypal.png" alt="paypal")
                        div.before-footer__item
                            div.before-footer__item-text Wir versenden mit
                            img(src="images/dhl.png" alt="dhl")
                        div.clear
                        
        div.footer
            div.wrapper
                div.footer__col1
                    div.footer__toplinks
                        a.footer__toplink(href="javascript:void(0);") Liefer- und Versandkosten
                        a.footer__toplink(href="javascript:void(0);") Privatsphäre und Datenschutz
                        a.footer__toplink(href="javascript:void(0);") Unsere AGB
                        a.footer__toplink(href="javascript:void(0);") Impressum
                        a.footer__toplink(href="javascript:void(0);") Kontakt
                        a.footer__toplink(href="javascript:void(0);") Widerrufsrecht
                    div.footer__col3
                        div.footer__header.footer__header--kontakt Kontakt & Anfahrt
                        img(src="images/contact.png" alt="contact")
                        div.footer__col3-text In unserem Kaufhaus in Köln finden Sie ganzjährig unser gesamtes Sortiment.
                        div.footer__col3-link
                            i.fa.fa-car(aria-hidden="true")
                            a.footer__col3-link-link(href="javascript:void(0)") Wegbeschreibung mit Karte
                    div.footer__col4
                        div.footer__col4-block
                            div.footer__header.footer__header--telefon
                                i.fa.fa-phone(aria-hidden="true")
                                | Telefon
                            a.footer__col4-phone(href="tel:02215994926") (0221) 599 49 26
                        div.footer__col4-block
                            div.footer__header.footer__header--email
                                i.fa.fa-envelope(aria-hidden="true")
                                | E-Mail
                            a.footer__col4-email(href="mailto:karneval@karnevalskappes.de") karneval@karnevalskappes.de
                        div.footer__col4-block
                            div.footer__header.footer__header--fax
                                i.fa.fa-fax(aria-hidden="true")
                                | Fax
                            div.footer__col4-fax (0221) 599 47 22
                    div.footer__col5
                        div.footer__header.footer__header--offnungszeiten
                            i.fa.fa-clock-o(aria-hidden="true")
                            | Öffnungszeiten
                        p.footer__col5-p Montags bis Freitags 10:00 — 17:00 Uhr
                        p.footer__col5-p Samstags 10:00 — 14:00 Uhr
                    div.clear
                div.footer__col2
                    div.footer__header.footer__header--unseren-weiteren 
                        | Unseren weiteren 
                        br
                        |Webseiten
                    a.footer__sitelink(href="http://www.kappeskoeln.de" target="_blank") www.kappeskoeln.de
                    a.footer__sitelink(href="http://www.orden-kappes.de") www.orden-kappes.de
                    a.footer__sitelink(href="http://www.stempelbilliger.de ") www.stempelbilliger.de
                    a.footer__sitelink(href="http://www.schilder-billiger.de") www.schilder-billiger.de
                div.clear
        
        script(src="js/main.js")     